* {
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}


/* Style the top navigation bar */
.nav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .main {
    width: 100%;
    height: auto;
    font-family: "Arial Black", "Nanum Myeongjo";
    margin: 0 auto;
    padding: 10px;
    background: #f1f1f1;
  }

  .column {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 340px) {
  .nav a {
    float: none;
    width: 100%;
  }


}

.main {

  height: auto;
  font-family: "Arial Black", "Nanum Myeongjo";
  margin: 0 auto;
}

[class^=box-] {
  width: 340px;
  height: 220px;
  display: inline-block;

  float: left;
}

[class^=gra-] {
  float: left;
  display: inline-block;

}

.gra-port {
  width: 280px;
  height: 131px;
  display: inline-block;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, multiply;
  border-top: 1px solid #ccc;
}

.gra-photo {
  width: 50px;
  height: 131px;
  display: inline-block;

}

.gra-char {
  width: 340px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  font-size: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

[class^=ico-] {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-top: 1px solid #ccc;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, multiply;

}

[class^=info-] {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  float: left;
  font-size: 14px;
  height: 22px;
  
}

[class^=info-bite-] {
  width: 56px;
  height: 40xp;

}

[class^=info-part-] {
  width: 280px;
  height: 40xp;
  text-align: right;
}

.info-bite-abil, .info-part-abil {
  height: 29px;
  line-height: 29px;
}

[class^=gra-]::after, [class^=info-]::after, [class^=ico-]::after {
  content: " ";
  clear: both;
  display: inline-block;
}

.info-bite-suit, .info-part-suit {
  border-top: 1px solid #ccc;
}

.roll {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  display: inline-block;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, multiply;
}

.roll.selected {
  border: 1px solid #000;
}

.gra-port.selected {
  display: inline-block;
}


.roll:hover {
  border: 1px solid #777;
}

.roll-box {

  display: inline-block;
  min-width: 340px;
  height: 550px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Add vertical scrollbar */
}
