.main {
  max-width: 690px;
  min-width: 340px;
  height: auto;
  border: 1px solid #ccc;
  font-family: "Arial Black", "Nanum Myeongjo";
  margin: 0 auto;
}

[class^=box-] {
  width: 340px;
  height: 220px;
  display: inline-block;
  border: 1px solid #ccc;
  float: left;
}

[class^=gra-] {
  float: left;
  display: inline-block;
  border: 1px solid #ccc;
}

.gra-port {
  width: 280px;
  height: 190px;
  display: inline-block;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, multiply;
}

.gra-photo {
  width: 50px;
  height: 190px;
  display: inline-block;
  border: 1px solid #ccc;
}

.gra-char {
  width: 340px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  font-size: 16px;
}

[class^=ico-] {
  width: 45px;
  height: 45px;
  display: inline-block;
  border: 1px solid #ccc;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, multiply;

}

[class^=info-] {
  display: inline-block;
  border: 1px solid #ccc;
  float: left;
  height: 20xp;
  font-size: 14px;
}

[class^=info-bite-] {
  width: 56px;
}

[class^=info-part-] {
  width: 280px;
  text-align: right;
}

[class^=gra-]::after, [class^=info-]::after, [class^=ico-]::after {
  content: " ";
  clear: both;
  display: inline-block;
}

.roll {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  display: inline-block;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-blend-mode: multiply, multiply;
}

.roll.selected {
  border: 1px solid #000;
}

.gra-port.selected {
  display: inline-block;
}


.roll:hover {
  border: 1px solid #777;
}

.roll-box {
  border: 1px solid #ccc;
  display: inline-block;
  min-width: 340px;
  height: 550px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Add vertical scrollbar */
}


