* {
  box-sizing: border-box;
}

.main {
  height: auto;
  font-family: "Arial Black", "Nanum Myeongjo";
  margin: 0 auto;
  padding: 10px;
  background: #f1f1f1;
}

/* Style the top navigation bar */
.nav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.link {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 75px;
}

/* Change color on hover */
.link:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Header/Blog Title */
.header {
  text-align: center;
  background: #fff;
  padding: 1px;
}

.logo1 {
  width: 100%;
  height: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: center;
}

.logo2 {
  width: 100%;
  height: 506px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: center;
}


/* Footer */
.footer {
  text-align: center;
  background: #ddd;
  padding: 1px;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {

  .main {
    width: 340px;
  }
  
  .header, .footer, .nav {
    width: 340px;
  }

}

@media only screen and (min-width: 601px) {
  .main {
    width: 820px;
  }

  .header, .footer, .nav,  {
    width: 100%;
  }

}
